.home{
  &__slider{
    .uk-slideshow-items{
      > *{
        @include media-breakpoint-up('m'){
          border-radius: 50px 0px 49px 0;
        }
      }
    }
  }
  &__title{
    @extend .fz-40;
    color: #000 !important;
    font-family: $font-primary-Bold;
    line-height: 1.5;
  }
  &__tintucnoibat{
    &__box1{
      border-radius: 20px;
      &__overlay{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 37.15%, rgba(0, 0, 0, 0.7) 100%);
      }
      &__body{
        padding-top: 0 !important;
        padding: 15px;
        @include media-breakpoint-up('m'){
          padding: 48px 40px;
        }
      }
    }
    &__box2{
      &__boxdate{
        background: #EA0A2A;
        color: #ffffff;
        @include fluidx(72px,55px,height);
        @include fluidx(72px,55px,width);
        display: flex;
        align-items: center;
        justify-content: center;
        &--c1{
          top: 7px;
          right: -7px;
          @include media-breakpoint-up('m'){
            top: 24px;
            right: -24px;
          }
        }
        &__txt1{
          @extend .fz-36;
          line-height: (50/36);
          font-family: $font-secondary-Bold;
        }
        &__txt2{
          @extend .fz-14;
          line-height: (19/14);
          margin-top: -5px;
          font-family: $font-secondary;
        }
      }
      &__img{
        border-radius: 16px;
      }
      &__title{
        @extend .fz-18;
        line-height: (25/18);
        font-family: $font-primary-Bold;
        &--c1{
          @extend .fz-20;
          a{
            color: #ffffff !important;
          }
        }
        a{
          color: #000;
        }
      }
      &__desc{
        @extend .fz-12;
        line-height: (16/12);
        color: #000;
        &--c1{
          @extend .fz-14;
          color: rgba(#fff,0.7) !important;
        }
      }
    }
  }
  &__thuvien{
    &__box1{
      border-radius: 16px;
      .uk-width-expand > &{
        border-radius: 20px;
      }
    }
  }
  &__bieudocophieu{
    &__card1{
      box-shadow: 0px 10px 20px rgba(221, 221, 221, 0.5);
      border-radius: 24px;
      &__box1{
        width: 160px;
        &__input{
          border: 1px solid #E5E5E5;
          box-sizing: border-box;
          border-radius: 4px;
          height: 32px;

          letter-spacing: 0.25px;
          @extend .fz-14;
          color: #333333;
        }
      }
    }
  }
  &__vechungtoi{
    .uk-container-expand-right{
      @include media-breakpoint-up('m'){
        padding-right: 0;
        max-width: calc(50% + (1200px / 2));
      }
    }
    &__box2{
      $w: 625px;
      width: calc(#{$w} - 119px);
    }
    &__box1{
      padding: 20px;
      @include media-breakpoint-up('m'){
        padding: 40px;
        width: 625px;
      }
      background: #FFFFFF;
      /* 1 */

      box-shadow: 0px 10px 30px rgba(234, 10, 42, 0.2);
      border-radius: 20px;
      &__title{
        margin-bottom: 15px !important;
        @extend .fz-24;
        line-height: (36/24);
        font-family: $font-secondary-Bold;
        color: #000000;
      }
      &__desc{
        @extend .fz-16;
        line-height: (24/16);
        color: #000000;
        margin-bottom: 20px !important;
        @include media-breakpoint-up('m'){
          margin-bottom: 40px !important;
        }
      }
    }
  }
}