.footer{
  &__boxLienhe{
    &__body{
      padding: 15px 15px;
      @include media-breakpoint-up('m'){
        padding: 40px 80px;
      }
    }
    &__input{
      @extend .fz-14;
      color: #333333;
      @include media-breakpoint-up('m'){
        height: 48px;
      }
      &::placeholder{
        color: #333333;
      }
      border-color: #333333;
    }
    &__btn{
      background: #EA0A2A;
      @extend .fz-18;
      font-family: $font-primary-Bold;
      text-transform: inherit;
      border-bottom-left-radius: 0;
      @include media-breakpoint-up('m'){
        line-height: 46px;
        min-width: 152px;
      }
    }
    &__grid1{
      .uk-grid-margin{
        @include media-breakpoint-up('m'){
          margin-top: 25px !important;
        }
      }
    }
  }
  &__section1{
    padding-bottom: 20px;
    @include media-breakpoint-up('m'){
      padding-top: 0 !important;
      padding-bottom: 40px !important;
    }
  }
  &__overlay{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  }
  &__card1{
    box-shadow: 0px 10px 30px rgba(234, 10, 42, 0.2);
    border-radius: 10px;
    margin-top: -111px;
    min-height: 199px;
  }
  &__boxLogo{
    img{
      //width: 200px;
      @include media-breakpoint-up('m'){
        //width: 278px;
      }
      @include fluidx(278px,200px,width);
    }
  }
  &__boxDiachi{
    &__name{
      @extend .fz-18;
      line-height: (27/18);
      color: #ffffff !important;
      font-family: $font-primary-Bold;
      margin-bottom: 5px;
    }
    &__desc{
      @extend .fz-16;
      line-height: (24/16);
    }
  }
  &__boxLienket{
    padding-top: 20px;
    border-top: 1px solid #ffffff;
    &__title{
      margin: 0;
      @extend .fz-24;
      line-height: 1.5;
      font-family: $font-primary-Bold;
      color: #ffffff !important;
    }
    &__list{
      margin: 0 !important;
      >li{
        margin: 0 !important;
        &:nth-child(n+2){
          margin-top: 12px !important;
        }
        >a{
          @extend .fz-16;
          line-height: 1.5;
          color: rgba(#fff,0.7);
        }
      }
    }
  }
  &__title{
    @extend .fz-32;
    line-height: 1.5;
    color: #FFFFFF;
    font-family: $font-primary-Bold;
  }
  &__menu{
    margin: 0 !important;
    >li{
      &:nth-child(n+2){
        @include media-breakpoint-up('m'){
          margin-top: 36px !important;
        }
      }
      >a{
        color: #ffffff;
        @extend .fz-20;
        font-family: $font-primary-Bold;
        line-height: 1.5;
      }
    }
  }
  &__brand{
    border-radius: 10px;
    .footer__brand__item:hover &{
      box-shadow: (0px 0px 20px #EA0A2A);
    }
    &__item{

    }
    img{
      $x: 42px;
      width: #{$x};
    }
    &__txt{
      @extend .fz-18;
      color: #ffffff;
      font-family: $font-primary-Bold;
      line-height: 1.5;
      .footer__brand__item:hover &{
        text-shadow: 0px 0px 20px #EA0A2A;
      }
      a{
        color: #ffffff;
      }
    }
  }
  &__divider{
    border-color: #ffffff !important;
    @include media-breakpoint-up('m'){
      margin-top: 39px !important;
      margin-bottom: 15px !important;
    }
  }
  &__copyright{
    @extend .fz-16;
    line-height: 1.5;
    color: rgba(#fff,0.7);
  }
}