/**
 * --------------------------------------------------------------------
 * Arial
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'Arial Regular';
  font-display: auto;
  src:local('Arial Regular'), url('fonts/Arial/arial.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/**
 * --------------------------------------------------------------------
 * FS PF BeauSans Pro
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'FS PF BeauSans Pro Regular';
  font-display: auto;
  src:local('FS PF BeauSans Pro Regular'), url('fonts/FSPFBeauSansPro/FS-PFBeauSansPro-Regular.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'FS PF BeauSans Pro Bold';
  font-display: auto;
  src:local('FS PF BeauSans Pro Bold'), url('fonts/FSPFBeauSansPro/FS-PFBeauSansPro-Bold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/**
 * --------------------------------------------------------------------
 * Arial
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'UTM Neo Sans Intel Regular';
  font-display: auto;
  src:local('UTM Neo Sans Intel Regular'), url('fonts/UTM-Neo-Sans-Intel.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'UTM Neo Sans Intel Bold';
  font-display: auto;
  src:local('UTM Neo Sans Intel Bold'), url('fonts/UTM-Neo-Sans-IntelBold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}