// Fonts families
$font-primary: 'FS PF BeauSans Pro Regular',sans-serif;
$font-primary-Bold: 'FS PF BeauSans Pro Bold',sans-serif;
$font-secondary: 'UTM Neo Sans Intel Regular',sans-serif;
$font-secondary-Bold: 'UTM Neo Sans Intel Bold',sans-serif;

// Font-size base
$base-font: 14px !default;
$base-design-font: 16px !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: 375px,
  s: 640px,
  m: 960px,
  l: 1200px,
  xl: 1600px
) !default;
